<div style="display: flex;">
  <div #scrollable id="terminal_container">
    <p *ngFor="let item of this.typedText; let i = index">
      <span *ngIf="this.typedText[i].isImage">
        <img src="{{ this.typedText[i].url }}">  
      </span>

      <span *ngIf="!this.typedText[i].isImage">
        <span *ngFor="let t of this.typedText[i].text" [ngStyle]="{'color': t.color ? t.color : 'white'}">{{ t.text }}</span>
      </span>
    </p>
    <p [ngStyle]="{ 'color': typingColor ? typingColor : 'white' }">
      {{ this.typingText }}
    </p>
    
    <div *ngIf="readyForInput" id="input_container">
      <span id="prefix">{{ this.prefixText }}</span><span>&nbsp;</span><input #input type="{{ this.isEmailSubmitted ? 'text' : 'email' }}" id="terminal_input" [(ngModel)]="this.inputText" autofocus>
    </div>
  </div>
</div>