#terminal_container {
    overflow-y: auto;
    margin: 20px 20px 80px 20px;
}

#input_container {
    display: flex;
}

#terminal_input { 
    background: transparent;
    border: none;
    color: lightgreen;
    font-family: 'Space Mono', monospace;
    font-size: inherit;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    // padding-left: 10px;
}

#prefix {
    display: inline;
}