@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

@media screen and (max-width: 600px) {
p {font-size: 3vw;}
span {font-size: 3vw;}
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

a {
    color: white;
    text-decoration: none;
}


body {
    min-height: 100vh;
    background: #252926;
    color: #c3ef8f;
    font-family: Monaco, "Courier New", Courier, monospace;
    font-size: 1.2em;
    margin: 0;
    text-shadow:
        0 0 1px #c3ef8f,
        1px 1px 1px blue,
        -1px -1px 1px red;
    
    &::after {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background:
            repeating-linear-gradient(
                top, transparent 0px,
                transparent 2px,
                rgba(0, 0, 0, 0.2) 2px,
                rgba(0, 0, 0, 0.2) 4px
            );
        background-size: 100% 4px;
        box-shadow:
            inset 0 0 10em rgba(0, 0, 0, 0.5),
            inset 0 0 2em rgba(0, 0, 0, 0.1);
        z-index: -1;
        content: "";
    }

    h2,h3,h4 {
        font-weight: 400;
        color: #c3ef8f;
    }
    
    a, .clickable {
        color: #c3ef8f;
        background: rgba(195, 239, 143, 0.5);
        border-color: rgba(195, 239, 143, 0.5);
        &:hover {
            border-color: transparent !important;
        }
    }
     
}

.container {
    overflow: hidden;
    *{
        filter: blur(3px);
        animation:
           5s distort 6s infinite alternate,
            blur 9000ms infinite,
            flick 50ms infinite,
            jump 50ms infinite;
    }
}

@keyframes crt {
    28% {
        background: #232624;
    }
    30% {
        background: #272c28;
    }
    33% {
        background: #232624;
    }
    34% {
        background: #272c28;
    }
    35% {
        background: #202421;
    }
}


@keyframes blur {
  0% {
    filter: blur(.1px);
    opacity: 0.95;
  }
  50% {
    filter: blur(.1px);
    opacity: 1;
  }
  100% {
    filter: blur(.1px);
    opacity: 0.93;
  }
    50% {
    filter: blur(.1px);
    opacity: 1;
  }
}
@media screen and (min-width: 600px) {
	@keyframes blur {
		0% {
			filter: blur(.5px);
			opacity: 0.8;
		}
		50% {
			filter: blur(.5px);
			opacity: 1;
		}
		100% {
			filter: blur(.5px);
			opacity: 0.8;
		}
	}
}
@keyframes jump {
    30% {
        top: 10px;
    }
    31% {
        top: 0;
    }
}
@keyframes distort {
    10% {
        opacity: 1;
        top: 0;
        left: 0;
        transform: scale(1, 1);
        transform: skew(0, 0);
    }
    11% {
        opacity: 0.8;
        top: 0px;
        left: -100px;
        transform: scale(1, 1.2);
        transform: skew(50deg, 0);
    }
    12% {
        opacity: 0.2;
        top: 0px;
        left: 100px;
        transform: scale(1, 1.2);
        transform: skew(-80deg, 0);
    }
    13% {
        opacity: 1;
        top: 0;
        left: 0;
        transform: scale(1, 1);
        transform: skew(0, 0);
    }
}
@keyframes appear {
    0% {
        filter: blur(.5px);
        opacity: 0.85;
    }
    50% {
        filter: blur(.3px);
        opacity: 0.85;
    }
    100% {
        filter: blur(.4px);
        opacity: 0.85;
    }
}
@keyframes snapped {
    0% {
        filter: blur(5px);
        opacity: 0.85;
    }
    50% {
        filter: blur(3px);
        opacity: 0.85;
    }
    100% {
        filter: blur(4px);
        opacity: 0.85;
    }
}

.container #prefix {width:inherit!important}


.container span span{filter: none!important;        width: calc(100vw - 1px);
overflow-wrap: break-word;
word-wrap: break-word;
/* Instead use this non-standard one: */
word-break: break-word;

/* Adds a hyphen where the word breaks, if supported (No Blink) */
-ms-hyphens: auto;
-moz-hyphens: auto;
-webkit-hyphens: auto;
hyphens: auto;
}

@media screen and (-webkit-min-device-pixel-ratio: 2) {
    select,
    select:focus,
    textarea,
    textarea:focus,
    input,
    input:focus {
      font-size: 16px;
    }
}